/*Tipografia*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

body {
    font-size: 100%;
}

p {
    font-size: 1em;
}

@media screen and (max-width: 64em) {
    body {
        font-size: 90%;
    }
}

@media screen and (max-width: 50em) {
    body {
        font-size: 75%;
    }
}

@media screen and (max-width: 30em) {
    body {
        font-size: 50%;
    }
}

.gridcontainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.header {
    grid-column: 1 / 13;
    grid-row: 1;
}

.main {
    grid-column: 1 / -1;
    grid-row: 2;
}

.footer {
    grid-column: 1 / -1;
    grid-row: 3;
}

/*Solamente diseño*/
.header,
.footer {
    border-radius: 5px;
    padding: 10px;
}